<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil <%= userProfile.getGreeting() %></title>
</head>
<body>
    <h1>Profil <%= userProfile.getGreeting() %></h1>
    
    <p><img src="<%= userProfile.imageUrl %>" style="width: 200px; height: 200px;"></p>
    <p><strong>Nama Lengkap:</strong> <%= userProfile.fullName %></p>
    <p><strong>Alamat:</strong> <%= userProfile.address %></p>
    <p><strong>Jenis Kelamin:</strong> <%= userProfile.gender %></p>
    <p><strong>Nomor Telepon:</strong> <%= userProfile.phone %></p>
    <a href="/course">Kembali ke Halaman Utama</a>
</body>
</html>
